html, body {margin:0; padding:0}
body {
background-image:url(./onepiece.jpg) ; 
margin:20px 10px 15px 10px;
}
h1 {
font-family:Blippo, fantasy;
font-size:250%;
color:#E2EBEC;
background-color:transparent;
text-align:left;
}
h2 {
font-family:verdana, sans-serif;
font-size:120%;
color:#E2EBEC;
background-color:transparent;
text-align:left;
}
h3 {
font-family:verdana, sans-serif;
font-size:120%;
color:black;
background-color:transparent;
text-align:left;
}
h4 {
font-size:100%;
font-family:verdana, sans-serif;
color:#E2EBEC;
background-color:transparent;
text-align:left;
}

p {
font-size:80%;
font-family:verdana, sans-serif;
color:#E2EBEC;
background-color:transparent;
margin-left:0;
margin-right:0;
}



a:link {
font-family:verdana, sans-serif;
font-size:100%;
color:white;
background-color:transparent;
text-decoration:underline;
}
a:visited {
font-family:verdana, sans-serif;
font-size:100%;
color:black;
background-color:transparent;
text-decoration:none;
}
a:hover {
font-family:verdana, sans-serif;
font-size:100%;
color:black;
background-color:transparent;
text-decoration:underline;
}
a:active, a:focus {
font-family:verdana, sans-serif; font-size:100%; color:black; background-color:transparent; text-decoration:underline; }
table {
border-color:white;
border-style:solid;
border-width:1px;
}
td {
font-family:verdana, sans-serif;
font-size:100%;
color:black;
text-align:left;
background-color:transparent;
border-color:white;
border-style:solid;
border-width:1px;
}
.baniere button {
	border-radius:12px 0 12px 0;
	background: orange;
	
	border:none;
	color:#E2EBEC;;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
}
/* style des produits	*/
.produits{
	padding:0;
}
.produits li{
	float:left;
	display: block;
	width:245px;
	height:416px;
	border:1px solid #999;
	margin:20px;
	border-radius: 5px 0 5px 5px;
	box-shadow: 2px 2px 2px #DDD;
	text-align: center;
	position: relative;
}
.produits li span{
	display: block;
	width:100%;
	height:30px;
}
.produits .admin{
	position:absolute;
	right:-31px;
	top:0;
	width:30px;
	height:64px;
	border-radius:0 5px 5px 0;
}
.produits .admin span{
	width:30px;
	height:30px;
	border-radius: 00 5px 5px 0;
	border:1px solid #444;
	border-left:0;
	margin-bottom: 2px;
}


.produits li .titre{
	font-size: 1.4em;
	font-weight: bold;
	font-style: italic;
	color:#E2EBEC;
}
.produits li .prix{
	font-size: 1.4em;
	text-align: right;
	color:#E2EBEC;
	}
.produits li .image{
	height : 180px;
	width: 245px ;
	text-align: center;
	}
.produits .admin span a{
	display:block;
	height:100%;
  width:100%;
}
/*clearfix*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}